<h1 style="color: black; font-family:'Courier New', Courier, monospace;">Mi App</h1>
<nav style="margin-bottom: 20px; border-bottom: 1px solid #ccc; padding-bottom: 10px;">
    <a routerLink="/home" style="margin-right: 20px; text-decoration: none; color: black; font-family: 'Courier New', 
    Courier, monospace;">Home</a>
    <a routerLink="/formulario" style="margin-right: 20px; text-decoration: none; color: black; font-family: 'Courier New', 
    Courier, monospace;">Formulario</a>
    <a routerLink="/tabla" style=" margin-right: 20px; text-decoration: none; color: black; font-family: 'Courier New', 
    Courier, monospace;">Tabla</a>
</nav>
  <!-- Aquí es donde Angular mostrará el componente correspondiente a la ruta actual -->
  <router-outlet></router-outlet>
